/*General Page Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Playfair Display SC', serif;
  background-image:url("../img/silver.jpeg");
  background-size: cover;
  
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
/*Navigation Style*/
header {
  width: 100%;
  position: fixed;
  opacity: .7;
  background-color: #ffffff;
  top: 0;
  z-index: 1111;
}
header:hover{
  opacity: 1;
}
.logo {
  display: inline-block;
  float: left;
  margin-left: 1.2em;
}
.logo img {
  height:70px;
  width: 100px;
  border-radius: 5%;
}
nav {
  margin:1em .5em .3em 0;

  display: inline;
  float: right;
  font-size: 1.5em;
  text-transform: small-caps;

}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
.topnav a {
  letter-spacing: -1px;
  line-height: 1em;
  align-self:center;
  text-decoration: none;
  margin-right: .7em;
  color: #333;
  transition: border-bottom .2s;
}
.topnav a:hover {
  border-bottom: 4px solid #6f2c09;
  color: #6f2c09;
  cursor: pointer;
}
.icon {
  display:none;
}

/* Home page style */
/*download fonts awesome for
the social media icons*/
#home {
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: stretch;

}
#home h1 {
  text-transform: small-caps;
  color: #2d2d1f;
  font-size: 3.2em;
  font-weight: bold;
  /*letter-spacing: -1px;*/
  line-height: 1em;
  text-align: center;
}
#home hr{
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
#home h3 {
  text-transform: small-caps;
  font-size: 1.5em;
  font-weight: bold;
  color: #111;
  letter-spacing: -1px;
  line-height: 1em;
  text-align: center;
}


/*Container and About Me section style*/
.container {
  width: 90vw;
  margin:0 auto 2em;
}
#about {
 display: flex;
 justify-content:space-around;
 align-items: stretch;
 flex-wrap: wrap;
}
#about img {
  max-width: 100%;
  align-self: stretch;
  height: 550px;
  width: 40%;
  border: 4px solid black;
  border-radius: 20px;
  
}
#about article {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-self: center;
  font-family:serif;
  text-align: justify;
  padding: 75px;
   height: 750px;
   
   
  
}
#about article p {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 500;
  background: #f2f2f2;
  color: black;
  padding: 1.1em;
  font-family: 'Libre Baskerville', serif;
  border: 4px solid black;
  border-radius: 20px;
}
#about article h3 {
  color: #f2f2f2;
  background: #808080;
}

/*Portfolio styles*/
#portfolio {
  height: 450px;

}

/*.portfolio-list li a img{
	height:100px;
	width:100px;
}*/

/*Interests section styles*/

.container {
  width: 90vw;
  margin:0 auto 2em;
}
#interests {
 display: relative;
 justify-content:space-around;
 align-items: stretch;
 flex-wrap: wrap;
}
#interests img {
  max-width: 100%;
  align-self: stretch;
  height: 550px;
  width: 40%;
  border: 4px solid black;
  border-radius: 20px;
  
}
#interests article {
  display: relative;
  flex-direction: row;
  width: 60%;
  align-self: center;
  font-family:serif;
  text-align: justify;
  padding: 75px;
   height: 750px;
   
   
  
}
#interests article p {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 500;
  background: #f2f2f2;
  color: black;
  padding: 1.1em;
  font-family: 'Libre Baskerville', serif;
  border: 4px solid black;
  border-radius: 20px;
}
#interests article h3 {
  color: #f2f2f2;
  background: #808080;
}

/* this gets the text to the bottom left*/ 
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}


	
}



/*Contact Me section styles*/
#contact {
  height: 700px;
  background-color: 0;
  border: 4px solid black;
}
<form {
	* {
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

body {
	font-family: segoe ui, verdana, arial, sans-serif;
	font-size: 1em;
}

h1 {
  text-shadow: 1px 1px #999;
}

.wrap {
	width: 100%;
	max-width: 600px;
	margin: 0px auto;
}

.contact ul {
	width: 100%;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

.contact_form li{
	position: relative;
} 

.contact label {
	width: 100%;
	display: inline-block;
	float: left;
	padding: 3px;
}

.contact input {
	height: 40px; 
	width: 100%;
	padding: 5px 8px;
	margin-bottom: 20px;
}

.contact textarea {
	padding:8px; 
	width: 100%;
}

.contact input, 
.contact textarea { 
  font-family: segoe ui, verdana, arial, sans-serif;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #999 inset;
	border-radius: 2px;
	padding-right: 30px;
}

.contact input:focus, 
.contact textarea:focus {
	background: #fff; 
	border: 1px solid #555; 
	box-shadow: 0 0 10px #aaa; 
}

.contact input:required:valid, 
.contact textarea:required:valid {
  box-shadow: 0px 0px 3px #5cd053, 0 10px 15px #999 inset;
	border-color: green;
}

.contact input:focus:invalid, 
.contact textarea:focus:invalid {
	box-shadow: 0 0 10px #d45252;
	border-color: red;
}

button {
  font-family: segoe ui, verdana, arial, sans-serif;
  font-size: 1.1em;
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 10px;
	text-align: center;
  width: 100%;
  max-width: 200px;
	color: #fff;
  border: 0;
	background: #2266ee;

 }

button:hover {
	background-color: #333;
}

button:active {
	box-shadow: 0 0 10px 5px #000 inset; 
}

.float-right { float: right; }
}
	</form>

	
/*Footer styling*/
/*footer{
  background-color: #191210;
  clear: both;
  position:fixed;*/

}


/*Media Queries*/
@media screen and (max-width:770px) {
.topnav li{display: none;}
.topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 1.5em;
    position: fixed;
    right: 0;
    top: 0;
  }
  nav {
    float: none;
    display: block;
    clear: left;
    padding-top: .5em;
  }
  .icon a:hover {
    border-bottom: none;
  }
/*applying responsive class*/

 ul.topnav.responsive li {
     display: block;
     text-align: center;
     margin-bottom: .5em;
 }
 ul.topnav.responsive li a {
   text-align: center;
 }
.container {
  Width: 100%;
  float: none;
}
#about article {
  width: 100%;
  align-self: center;
  font-family:serif;
  text-align: justify;
}
#about img {
  max-width: 100%;
  align-self: center;
  height: 50%;
  width: 100%;
}
}
.footer{
	height: 55px;
	padding-top: 40px;
	text-align: center;
	left:0;
	right:0;
	background-color: white;
	
}

.footer img{
	height:80px;
	width:80px;
}
h4

{
  font-size: 2.5em;
  font-weight: bold;
  color: red;
  text-align: center;
}
